
<nav class="site-nav">

  <a class="c-logo--tmp" href="{{ site.baseurl }}/">
    <!--put svg logo in here-->
    N
  </a>

  <ul class="site-nav__list">
    <li class="site-nav__item u-1/2"><a href="/" class="site-nav__link">About</a></li
    ><li class="site-nav__item u-1/2"><a href="/" class="site-nav__link">Case Studies</a></li
    ><li class="site-nav__item u-1/2"><a href="/" class="site-nav__link">Speaking</a></li
    ><li class="site-nav__item u-1/2"><a href="/" class="site-nav__link">Hire Me</a></li>
  </ul>

</nav>

