html {
  font-family: 'Lato', sans-serif;
  color: #777;
}

body {
  background-color: #f6f6f6;
}

.o-wrapper {
  position: relative;
}

.page-head {
  padding-top: 24px;
  padding-bottom: 24px;
}

.c-page-head__desc {
  width: 100%;
  position: absolute;
  top: 45%;
  z-index: 2;
  transform: translateY(-40%);
}

.c-avatar {
  border: 7px solid #FFF;
  width: 260px;
  height: 260px;
  margin: auto;
  border-radius: 50%;
}

.page-head__text {
  text-align: center;
  color: #FFF;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 12px;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);
}

.page-head__tagline {
  text-align: center;
  text-transform: uppercase;
  color: #FFF;

  & span {
    background-color: #FFF;
    color: #333;
    display: inline-block;
    padding: 8px 12px;
    box-shadow: 6px 6px 0px #333;
    transform: rotate(-3deg);
  }
}




section {
  padding-top: var( --inuk-global-spacing-unit-large );
  padding-bottom: var( --inuk-global-spacing-unit-large );
  color: #777;

  & h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    color: #777;
  }
}

.section-technology {
  background-color: #f6f6f6;
  color: #777;
}



.technology-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.technology-list__item {
  padding: 24px;
  display: inline-block;

  /*& img {*/
    /*filter: brightness(0) invert(1);*/
  /*}*/
  
}


.section-work {
  background-color: #FFF;
}

.work-list {
  text-align: center;
  margin-top: 10px;
}

.work__title {
  margin-top: 12px;
}



.section-about {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
}

.contact-list {
  margin-top: 48px;

  & h2 {
    font-weight: 300;
  }
}

.contact-list__item {
  text-align: center;
}

.contact-list__link {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  color: #262626;
}


.about__content {
  /*margin-bottom: var(--inuk-global-spacing-unit);*/
  text-align: center;
  font-size: 1.35rem;
  line-height: 1.6;
}


