.site-nav {
  @apply --inuk-clearfix;
  position: relative;
  z-index: 2;
}

.site-nav__list {
  margin: 0;
  padding: 0;
  overflow: hidden;

  @media (width >= 500px) {
    float: right;
  }
}

.site-nav__item {
  list-style: none;
  float: left;
  padding-left: var(--inuk-global-spacing-unit-small);
  padding-right: var(--inuk-global-spacing-unit-small);

  @media (width >= 500px) {
    width: auto !important;
  }
}


.page-head--masthead {

  & .site-nav__link {
    color: #FFF;
  }

}

.site-nav__link {
  text-decoration: none;
  line-height: 2;
  color: #216869;

  &:hover,
  &:focus {
    text-decoration: underline;
  }


  @media (width >= 500px) {
    line-height: 4;
    font-weight: 600;
  }
}

.post-header {
  border-top: 6px solid #216869;
  border-bottom: 1px solid #d8e2dc;
  background-color: #FFF;
}
