<!DOCTYPE html>
<html lang="en" class="page  {{ page.page-class }}">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }} | Abderrahmane Ayad's Digital Portfolio</title>
    <meta name="description" content="{{ site.description }}">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/style.css">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.twitter_username }}">
    <meta name="twitter:domain" content="ngenstudio.com">
    <meta name="twitter:creator" content="@{{ site.twitter_username }}">
    <meta name="twitter:title" content="{{ site.title }} | Abderrahmane Ayad's Digital Portfolio">
    <meta name="twitter:image:src" content="/logo.png">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">

    <link rel="shortcut icon" href="/icon.png">
    <link rel="apple-touch-icon-precomposed" href="/icon.png">
    <meta name="apple-mobile-web-app-title" content="ngenstudio">
    <meta name="description" content="Abderrahmane Ayad's Digital Portfolio">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">


    <style>
      html,
      body {
	height: 100%;
      }
      canvas {
	display: block;
	vertical-align: bottom;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
      }
      #header-particles {
	background: #02030f url(/images/wallpaper-2910790.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	min-height: 590px;
	height: 100%;
      }
    </style>

  </head>

  <body>

    {{ content }}

  </body>

</html>
